serviceAccount:
  create: true

replicas: 1

automountServiceAccountToken: true

autoscaling:
  enabled: false

deploymentStrategy:
  type: RollingUpdate

image:
  registry: docker.io
  repository: grafana/grafana
  tag: ""

testFramework:
  enabled: true
  image:
    registry: docker.io
    repository: bats/bats
    tag: "v1.4.1"

downloadDashboardsImage:
  registry: docker.io
  repository: curlimages/curl
  tag: 8.9.1

podPortName: grafana
gossipPortName: gossip

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000
  portName: service

hostAliases:
  - ip: "192.168.2.100"
    hostnames:
      - "prometheus.local.com"

ingress:
  enabled: true
  annotations: 
    cert-manager.io/cluster-issuer: ca-cluster-issuer
  path: /
  pathType: Prefix
  hosts:
    - grafana.local.com
  tls: 
   - secretName: grafana-server-tls
     hosts:
       - grafana.local.com

persistence:
  type: pvc
  enabled: true
  volumeName: grafana-pv
  accessModes:
    - ReadWriteOnce
  size: 2Gi
  finalizers:
    - kubernetes.io/pvc-protection

admin:
  existingSecret: grafana-secret
  userKey: admin-user
  passwordKey: admin-password

extraVolumeMounts:
  - name: ca-pemstore
    mountPath: /etc/ssl/certs/ca.pem
    subPath: ca.pem
    readOnly: true

extraVolumes:
  - name: ca-pemstore
    configMap: 
      name: ca-pemstore

datasources: 
 datasources.yaml:
   apiVersion: 1
   datasources:
   - name: Prometheus
     type: prometheus
     url: https://prometheus.local.com
     isDefault: true

imageRenderer:
  deploymentStrategy: 
    type: RollingUpdate
  enabled: true
  replicas: 1
  image:
    registry: docker.io
    repository: grafana/grafana-image-renderer
    tag: latest
  serviceAccountName: ""
  automountServiceAccountToken: true
  service:
    enabled: true
    portName: 'http'
    port: 8081
    targetPort: 8081
